<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin-panel/users/edit/accept" method="post">
    <input type="text" name="username" th:value="${user.getUsername()}"><br>
    <input type="text" name="mail" th:value="${user.getMail()}"><br>
    <div th:each="el : ${roles}">
        <input th:text="${el}"  type="checkbox" name="selected" th:value="${el}"><br>
    </div>
    <input type="text" name="id" th:value="${user.getId}"><br>
    <input type="submit">
</form>
</body>
</html>