<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title th:text="${topic.getArticle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossOrigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossOrigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossOrigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>
<div class="card shadow-sm align-items-center">
    <h1 class="" th:text="${topic.getArticle()}"></h1>
    <p th:text="${topic.getDescription()}"/>
        <a th:text="${'Publisher:'+topic.getUser().getUsername()}"
           th:href="'profile?username='+${topic.getUser().getUsername()}"/>
    <p th:text="${'Publish Date: '+topicpubdate}"/>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Comments</h6>
    <div class="" th:each="el : ${comment}">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6f42c1"></rect>
            <text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text>
        </svg>
        <a class="mb-0 small" th:text="${el.getUser().getUsername()}"
           th:href="'/profile?username='+${el.getUser().getUsername()}"/>
        <p class="mb-0 small lh-sm border-bottom" th:text="${el.getComment()}"/>
        <form action="/comment-delete" method="post"
              th:if="${#authorization.expression('hasAuthority(''CANDELETECOMMENTS'')')}">
            <input type="hidden" name="id" th:value="${el.getId()}">
            <input type="hidden" name="top_id" th:value="${topic.getId()}">
            <input type="submit" class="btn btn-sm btn-outline-danger" value="Delete Comment">
        </form>
    </div>

</div>
<div class="album py-5 bg-light">
    <div class="container">
        <form action="/comment-add" method="post">
            <h3>Enter your comment</h3><br>
            <textarea type="text" name="text" value=""></textarea>
            <input type="hidden" name="topic_id" th:value="${topic.getId()}">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<footer class="mt-auto" th:insert="blocks/footer :: footer"></footer>
</body>
</html>